*.iml
.gradle
/local.properties
/.idea
.DS_Store
**/build
captures/
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.idea/
*.log
*.hprof
*.keystore
!debug.keystore
*.png
!icon.png
*.jpeg
!app_logo.jpeg
*.jpg
*.gif
*.bmp
.project
.settings
.classpath
.claude/
